@charset "UTF-8";

body {
	margin : 40px;
	font-family: 'Open Sans', sans-serif;
	background-color : aliceblue;
}

.form {
	padding : 5px;
	width : 500px;
	height : 250px;
	border : 2px solid lightblue;
}

.label {
	padding : 10px;
	text-align : right;
}

input[type=text] {
	width : 180px;
}

input[type=password] {
	width : 180px;
}

input[type=submit] {
	display : block;
	width : 50%;
	margin : 0 auto;
}

input[type=submit]:hover {
	background-color : #3d89c2;
}